# Ignore default Crysis file system
/Bin32/
/Bin64/
/Editor/
/Game/
/LogBackups/

# Ignore temporary files and user configuration
*.log
*.dmp
*.bat
/user.cfg
/system.cfg
/editor.cfg
/AISignals.csv

# And intermediate files.
*.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
/BinTemp/

# And the Crysis Co-op mod binaries.
/Mods/CrysisCoop/Bin32/
/Mods/CrysisCoop/Bin64/
