# Ignore default Crysis file system
/Bin32/
/Bin64/
/Editor/
/Game/
/LogBackups/

# Code directory for CryCommon and CryAction should be taken from the user's own mod SDK installation.
# We should really consider removing it from the repository, we shall never change it because it would break compatibility with everything else and cause problems in the long run.
/Code/

# Ignore temporary files and user configuration
*.log
*.dmp
/user.cfg
/system.cfg
/editor.cfg
/AISignals.csv

# And intermediate files.
*.suo
*.db
/BinTemp/

# And the Crysis Co-op mod binaries.
/Mods/CrysisCoop/Bin32/
/Mods/CrysisCoop/Bin64/
