# Ignore default Crysis file system
/Bin32/*
/Bin64/*
/Editor/
/Game/
/LogBackups/
/CryAutoGen/
/consolecommandsandvars.txt

# Ignore temporary files and user configuration
*.log
*.dmp
*.bat
*.lastbuildstate
/user.cfg
/system.cfg
/editor.cfg
/AISignals.csv
/server_profile.txt

# And intermediate files.
*.suo
*.db
*.opendb
*.ipch
*.db-shm
*.db-wal
/BinTemp/

# And the Crysis Co-op mod binaries.
/Mods/
!/Mods/CrysisCoop/
/Mods/CrysisCoop/Bin32/
/Mods/CrysisCoop/Bin64/

# And level files (for now)
/Mods/CrysisCoop/Game/Levels/

# Add CryCooperative.dll
!/Bin32/CryCooperative.dll
!/Bin64/CryCooperative.dll
/Code/Cooperative/CryCooperative/
